<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Reader — Connexion</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body class="auth-page">

    <div class="carte-auth">

        <div class="logo-auth">
            <span class="icone">📚</span>
            <h1>Best Reader</h1>
            <p>Connectez-vous</p>
        </div>

        <div class="message-erreur" id="messageErreur" style="display:none;">
            Identifiant ou mot de passe incorrect.
        </div>

        <form id="formulaireConnexion">
            <div class="champ-formulaire">
                <label>Email ou Nom d'utilisateur</label>
                <input type="text" id="identifiant"
                       placeholder="email@gmail.com ou nom_utilisateur"
                       required>
            </div>
            <div class="champ-formulaire">
                <label>Mot de passe</label>
                <input type="password" id="motDePasse"
                       placeholder="••••••••" required>
            </div>
            <button type="submit" class="btn-auth">
                Se connecter
            </button>
        </form>

        <div class="lien-auth">
            Pas de compte ?
            <a th:href="@{/auth/Inscription}">Créer un compte</a>
        </div>

    </div>

    <script th:src="@{/js/auth.js}"></script>
</body>
</html>